@media screen and (min-width:600px) {
.searchBox{
        width: 550px!important;
}
.search-container{
        width: 600px;
}
}
.search-container{
        height: 44px;
        padding: 0 20px;
        margin: auto;
        text-align:center; 
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.searchBox{
        width: 100%!important;
}
.right{
        float: right!important;
}
.m-l-5{
        margin-left: 5px;
}
.inline-box{
        display: -webkit-inline-box;
}

