{% extends "base.html" %}
{% load i18n %}
{% block meta  %}
    <meta http-equiv="refresh" content="5; url=/profile/" />
{% endblock %}
{% block userlinks %}{% url 'django-admindocs-docroot' as docsroot %}{% if docsroot %}<a href="{{ docsroot }}">{% trans 'Documentation' %}</a> / {% endif %}{% trans 'Change password' %} / <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>{% endblock %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; {% trans 'Password change' %}
</div>
{% endblock %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}
{% block content %}
<div class="container">
<p>{% trans '您的密码修改成功!' %}</p>
<a href="/profile/">5秒后跳转到个人信息页！如不能跳转请点击！</a>
</div>
<script>

</script>
{% endblock %}
