{% extends "base.html" %}
{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; {% trans 'Password reset' %}
</div>
{% endblock %}

{% block title %}{{ '密码重置成功！' }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}

{% block content %}

<div class="container">
<p class="alert alert-success">{% trans "您的密码重置成功！您现在可以使用新密码登录！" %}
    <a href="/accounts/login/">{% trans '请登录！' %}</a>
</p>
</div>
{% endblock %}
