{% extends "base.html" %}
{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; {% trans '密码重置' %}
</div>
{% endblock %}

{% block title %}{{ '邮件发送成功！' }}{% endblock %}
{% block content_title %}<h1>{{ '邮件发送成功！' }}</h1>{% endblock %}
{% block content %}
<div class="container">
<p class="alert alert-success">{% trans "我们已经发送邮件给您，请您依照提示设置您的密码，如果您输入到邮箱账号存在的话，你应该会很快收到这封邮件！如果您没有收到邮件，请查看是不是被拦截到了垃圾箱里，如果确实没收到的话，请确认您输入的是不是注册时填写的邮箱地址！" %}</p>
</div>
{% endblock %}
