<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>傲硕科技</title>

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/freelancer.css" rel="stylesheet">
    <link href="/static/css/base.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script id="echo-reflect-settings" async="" src="/static/js/echo-reflect-settings.js"><script async="" src="https://requestmirror.appspot.com/?callback=window.RevsysAnalyticsClientInstance61532.processServerInfo&amp;includeNetwork=true"></script></script><script type="text/javascript" async="" defer="" id="ecLWC" src="/static/js/echoREFLECT.js"></script><script id="echoCentralScript" type="text/javascript" data-ec-accountid="4a54af21-6af7-4f54-9883-be2889dad115">
      var ECHOREFLECTPRELOAD={errors:[]};
      (function(w,d,c,t,v){
        if(c&&c.error){
          var oce=c.error;
          c.error=function(){
            v.errors.push({u:"console",e:arguments})
            oce.apply(c,arguments);}}
        w.onerror=function(m,u,l,co,e){
          v.errors.push({m:m,u:u,l:l,c:co,e:e});
          return false;}
        var ec=d.createElement(t);
        ec.type='text/javascript';ec.async=true;ec.defer=true;ec.id='ecLWC';
        ec.src=('https:'==d.location.protocol?'https://':'http://')+'script.echo-central.com/echoREFLECT.js';
        var s=d.getElementsByTagName(t)[0];
        setTimeout(function(){s.parentNode.insertBefore(ec,s)},100);
      }(window,document,console,'script',ECHOREFLECTPRELOAD));
    </script>

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="">
                    <img height="45" width="175" src="/static/images/logo.png" alt="logo">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="page-scroll">
                        <a href="">首页</a>
                    </li>
                    <li class="page-scroll">
                        <a href="">核心技术</a>
                    </li>
                    <li class="page-scroll">
                        <a href="">产品案例</a>
                    </li>
                    <li class="page-scroll">
                        <a href="">关于我们</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <!--<header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                </div>
            </div>
        </div>
    </header>-->


        <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active" style="background-image:url(/static/images/bg1.jpg)">
          <div class="container">
            <div class="carousel-caption">
              <h1>我们专注于为车载领域提供语音解决方案</h1>
            </div>
          </div>
        </div>
        <div class="item" style="background-image:url(/static/images/bg2.jpg)">
          <div class="container">
            <div class="carousel-caption">
              <h1>我们专注于为车载领域提供语音解决方案</h1>
            </div>
          </div>
        </div>
        <div class="item" style="background-image:url(/static/images/bg3.jpg)">
          <div class="container">
            <div class="carousel-caption">
              <h1>我们专注于为车载领域提供语音解决方案</h1>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->

    <div id="card" class="container">
        <div class="row">
            <div class="col-md-3 card-item">
                <div class="icon" style="background-image:url(/static/images/icon1.png)">
                </div>
                <h1>语音识别</h1>    
                <p>Hello, world!</p>   
            </div>
            <div class="col-md-3 card-item">
                <div class="icon" style="background-image:url(/static/images/icon2.png)">
                </div>
                <h1>语义理解</h1>
                <p>Hello, world!</p>   
            </div>
            <div class="col-md-3 card-item">
                <div class="icon" style="background-image:url(/static/images/icon3.png)">
                </div>
                <h1>语音合成</h1>
                <p>Hello, world!</p>   
            </div>
            <div class="col-md-3 card-item">
                <div class="icon" style="background-image:url(/static/images/icon4.png)">
                </div>
                <h1>声纹识别</h1>
                <p>Hello, world!</p>   
            </div>
        </div>
    </div>

    <!-- Portfolio Grid Section -->
    <section id="cooperation">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>合作商户</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-2"></div>
                <div class="col-md-2"></div>
                <div class="col-md-2"></div>
                <div class="col-md-2"></div>
                <div class="col-md-2"></div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-2"></div>
                <div class="col-md-2"></div>
                <div class="col-md-2"></div>
                <div class="col-md-2"></div>
                <div class="col-md-2"></div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-2"></div>
                <div class="col-md-2"></div>
                <div class="col-md-2"></div>
                <div class="col-md-2"></div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-3">
                        <h4>关于傲硕科技</h4>
                        <p>dadfnngagnlalngg</p>
                        <p>dadfnngagnl</p>
                        <p>dadfnngagnlalngglalngg</p>
                        <p>dadfnngagnlalngg</p>
                        
                    </div>
                    <div class="footer-col col-md-3">
                        <h4>关于傲硕科技</h4>
                        <p>dadfnngagnlalngg</p>
                        <p>dadfnngagnl</p>
                        <p>dadfnngagnlalngglalngg</p>
                        <p>dadfnngagnlalngg</p>
                        
                    </div>
                    <div class="footer-col col-md-3">
                        <h4>关于傲硕科技</h4>
                        <p>dadfnngagnlalngg</p>
                        <p>dadfnngagnl</p>
                        <p>dadfnngagnlalngglalngg</p>
                        <p>dadfnngagnlalngg</p>
                    </div>
                    <div class="footer-col col-md-3">
                        <h4>关于傲硕科技</h4>
                        <p>dadfnngagnlalngg</p>
                        <p>dadfnngagnl</p>
                        <p>dadfnngagnlalngglalngg</p>
                        <p>dadfnngagnlalngg</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row row-eq-height">
                    <div class="col-md-4">
                        <img src="/static/images/logo2.png" height="75" width="150">
                    </div>
                    <div class="col-md-4 center-block copy-right">
                        Copyright © AoshuoTec 2015
                    </div>
                    <div class="col-md-4">
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll hidden-lg hidden-md hidden-sm hidden-xs" style="display: block;">
        <a class="btn btn-primary" href="http://www.echopublish.com/#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- jQuery -->
    <script src="/static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/static/js/jquery.easing.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/static/js/freelancer.js"></script>

    <script type="text/javascript">
        $('.nav-pills').click(function (e) {
          e.preventDefault()
          $(this).tab('show')
        })
    </script>

</body>

</html>