{% extends "base.html" %}
{% load poll_extras%}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="jumbotron" style="background-color:transparent">
      <div class="container">
        <form action="" method="GET">       
         <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3">
            <div class="text-center">
                <img hidefocus="true" src="/static/img/bd_logo1.png" width="270" height="129">
            </div>
            <div class="input-group">
                <input type="text" class="form-control" name="q" placeholder={{ q }}>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">查成绩!</button>
                    </span>
            </div><!-- /input-group -->
            <span class="text-primary">统一环格式：2016-11-0343563</span>            
            </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
        </form>
      </div>
</div>
<div class="container">
<div id="result">
  <div class="container hidden-xs">
  <table class="table table-bordered">
    <caption>
     <span>共搜索到{{race_len}}个结果</span>      
      {% if user.is_logged_in and not user.vip.status %}
        <a>成为会员查看全部比赛</a>
      {% elif not user.is_logged_in %}
        <a href="/accounts/register/">请注册成为会员查看全部比赛</a>
      {% endif%}
    </caption>
    <thead>
        <tr>
          <th>名次</th>         
          <th>释放时间</th>         
          <th>鸽主姓名</th>         
          <th>归巢时间</th>         
          <th>分速</th>         
          <th>空距</th>         
          <th>所属单位</th>         
          <th>足环号码</th>         
          <th>棚号</th>         
          <th>比赛名称</th>         
        </tr>
    </thead>
    <tbody>
        {% for item in race_list %}
            <tr>
            <td>{{ item.score }}</td>
            <td>{{ item.release_date | date:"Y-m-d H:i:s" }}</td>
            <td>{{ item.belong }}</td>
            <td>{{ item.return_date | date:"Y-m-d H:i:s" }}</td>
            <td>{{ item.velocity }}</td>
            <td>{{ item.distance }}</td>
            <td>{{ item.company }}</td>
            <td>{{ item.foot_num }}</td>
            <td>{{ item.shed_num }}</td>
            <td>{{ item.race_name }}</td>
            </tr>
        {% endfor %}
    </tbody>
  </table>  
  </div>

  <div class="container visible-xs hidden">
  <table class="table">
    <caption>
      <span>共搜索到{{race_len}}个结果</span>     
      {% if user.is_logged_in and not user.vip.status %}
        <a>成为会员查看全部比赛</a>
      {% elif not user.is_logged_in %}
        <a>请注册成为会员查看全部比赛</a>
      {% endif%}
    </caption>
    <tbody>
      {% for item in race_list %}
      <tr>
        <th class="col-xs-6">名次</th>
        <td class="col-xs-6">{{ item.score }}<span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span></td>
      </tr>
      <tr class="hidden">
        <th class="col-xs-6">释放时间</th>
        <td class="col-xs-6">{{ item.release_date | date:"Y-m-d" }}</td>
      </tr>
      <tr class="hidden">
        <th class="col-xs-6">鸽主姓名</th>
        <td class="col-xs-6">{{ item.belong }}</td>
      </tr>
      <tr class="hidden">
        <th class="col-xs-6">归巢时间</th> 
        <td class="col-xs-6">{{ item.return_date | date:"Y-m-d" }}</td>
      </tr>
      <tr class="hidden">
        <th class="col-xs-6">分速</th>  
        <td class="col-xs-6">{{ item.velocity }}</td>
      </tr>
      <tr class="hidden">
        <th class="col-xs-6">空距</th> 
        <td class="col-xs-6">{{ item.distance }}</td>
      </tr>
      <tr class="hidden"> 
        <th class="col-xs-6">所属单位</th> 
        <td class="col-xs-6">{{ item.company }}</td>
      </tr>
      <tr class="hidden">  
        <th class="col-xs-6">足环号码</th> 
        <td class="col-xs-6">{{ item.foot_num }}</td>
      </tr>
      <tr class="hidden"> 
        <th class="col-xs-6">棚号</th> 
        <td class="col-xs-6">{{ item.shed_num }}</td>
      </tr>
      <tr class="hidden">  
        <th class="col-xs-6">比赛名称</th>
        <td class="col-xs-6">{{ item.race_name }}</td>
      </tr>
      {% endfor %}
    </tbody> 
      
  </table>  
  </div>
</div>

</div>
<script src="/static/js/race.js"></script>
{% endblock %}