{% extends "base.html" %}
{% load poll_extras%}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="container" id="zixun">
    <div class="row">
        <div class="col-sm-8">
               <ul class="article-list list-unstyled">
                {% for post in post_list.object_list %}
                   <li>
                         <section class="post">
                            <header class="post-header">
                                <h4 class="title">
                                    <a class="" href="{% url "detail" id=post.id %}">
                                        {{ post.title | cut_str }}
                                    </a>
                                </h4>
                                    <div class="post-meta">
                                        <span class="glyphicon glyphicon-time" aria-hidden="false"></span>
                                        <span class="tag">{{ post.date_time|timeformat}}</span>
                                        <span class="glyphicon glyphicon-tag" aria-hidden="false"></span> 
                                        <span class="tag" href="#">{{ post.category }}</span>
                                    </div>
                            </header>


                            <!--<div class="post-description">
                                <p>
                                    {{ post.content | custom_markdown }}
                                </p>
                            </div>-->
                            <!--<hr>-->
                            <!--<a class="btn btn-primary" href="{% url "detail" id=post.id %}">阅读更多 &raquo;</a>-->
                        </section>

                   </li>
                {% endfor %}
               </ul>


            <!-- 另一种分页显示方式 -->
            <nav class="text-center">
                <ul class="pagination">
                    {% if post_list.has_previous %}
                        <li>
                            <a href="?page={{ post_list.previous_page_number }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    {% endif %}

                    {% for page_number in post_list.paginator.page_range %}
                        {% ifequal page_number  post_list.number %}
                            <li class="active">
                                <span>{{ page_number }}<span class="sr-only">(current)</span></span>
                            </li>
                        {% else %}
                            <li><a href="?page={{ page_number }}">{{ page_number }}</a></li>
                        {% endifequal %}
                    {% endfor %}
                    　
                    　{% if post_list.has_next %}
                        <li>
                            <a href="?page={{ post_list.next_page_number }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>

                    　{% endif %}
                </ul>
            </nav>

        </div>
    </div>
    
</div>
{% endblock %}